<div class="posts">
    {% for post in site.posts %}

        {% comment %}
            'all' posts shown on /posts page
            specific # of posts shown on home page
        {% endcomment %}

        {% if page.display_num_posts == "all" or forloop.index <= page.display_num_posts %}
        <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            {% if post.categories.size > 0 %}
            <div class="categories">
                <span>Categories:</span> 
                <span class="category-list">
                    {% for category in post.categories %}
                    <a href="{{ site.baseurl }}/categories/{{category}}" class="category">{{ category }}</a>
                        {% if forloop.rindex > 1 %}
                        <span>,</span>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            <!-- added from post.html -->
            <div class="date">
                by {{ post.author }} - {{ post.date | date: "%B %e, %Y" }}
            </div>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
        {% endif %}

    {% endfor %}

    {% comment %}
        if displaying 'all' posts, add "back home" link.
        if displaying specific # of posts, include link to 'all' posts page
    {% endcomment %}

    {% if page.display_num_posts == "all" %}
        <h4>
            <a href="{{ site.baseurl }}/">
                Go back home?
            </a>
        </h4>
    {% else %}
        <h4 id="most-posts">
            <a href="{{ site.baseurl }}/posts">
                View all {{ site.posts | size }} posts?
            </a>
        </h4>
    {% endif %}

</div>