<div class="briefs">

    {% comment %} Add brief comment ONLY on main page {% endcomment %}
    {% unless page.skip_title_link == true %}
        <h1>Just to be brief...</h1>
    {% endunless %}

    <h1 id="default-from-_config-posts"># Posts: {{ page.display_num_posts2 }}</h1>
    <h1 id="default-from-_config-brief"># Briefs: {{ page.display_num_briefs2 }}</h1>

    {% comment %} Reverse briefs so most recent are on top {% endcomment %}
    {% assign briefs_reversed = site.briefs | reverse %}

    {% for brief in briefs_reversed %}

        {% comment %}
            'all' briefs shown on /briefs page
            specific # of briefs shown on home page
        {% endcomment %}
        
        {% if page.display_num_briefs == "all" or forloop.index <= page.display_num_briefs %}
        <article class="brief">

            <h1><a href="{{ site.baseurl }}{{ brief.url }}">{{ brief.title }}</a></h1>

            <!-- added from post.html -->
            <div class="date">
                by {{ brief.author }} - {{ brief.date | date: "%B %e, %Y" }}
            </div>

            {% if brief.categories.size > 0 %}
            <div class="categories">
                <span>Categories:</span> 
                <span class="category-list">
                    {% for category in brief.categories %}
                    <a href="{{ site.baseurl }}/categories/{{category}}" class="category">{{ category }}</a>
                        {% if forloop.rindex > 1 %}
                        <span>,</span>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% comment %}
                {% else %}
                <div class="categories">
                    <span>Categories:</span>
                    <span class="category-list">
                        <a href="{{ site.baseurl }}/categories/uncategorized" class="category">
                            (uncategorized)
                        </a>
                    </span>
                </div>
            {% endcomment %}
            {% endif %}
        </article>
        {% endif %}
        
    {% endfor %}

    {% comment %}
        if displaying 'all' briefs, add "back home" link.
        if displaying specific # of briefs, include link to 'all' briefs page
    {% endcomment %}

    {% if page.display_num_briefs == "all" %}
        <h4>
            <a href="{{ site.baseurl }}/">
                Go back home?
            </a>
        </h4>
    {% else %}
        <h4>
            <a href="{{ site.baseurl }}/briefs">
                View all {{ site.briefs | size }} briefs?
            </a>
        </h4>
    {% endif %}
</div>