---
layout: page
---

<div id="categories">
    {% comment %}
        Sort array of categories, then display them
    {% endcomment %}
    {% assign sortedCats = site.categories | map "categoryName" | sort_natural %}

    {% for category in sortedCats %}
        {% comment %}
            'category' has lots of data, so just get first item
            {% capture category_name %}{{ category | first }}{% endcapture %}
        {% endcomment %}
        <div class="category-group" id="#{{ category_name | slugify }}">
            <h3 class="category-head">
                <a href="{{ site.baseurl }}/categories/{{ category_name }}">#</a>
                {{ category_name | upcase }}
            </h3>

            <ul>
                {% for post in site.categories[category_name] %}
                <li class="post-item">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>