---
layout: page
---

<div id="categories">
    <!-- 'category' has lots of data, so just get first item -->
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category-group" id="#{{ category_name | slugify }}">
        <h3 class="category-head">
            <a href="{{ site.baseurl }}/categories/{{ category_name }}">#</a>
            {{ category_name | upcase }}
        </h3>

        <ul>
            {% for post in site.categories[category_name] %}
            <li class="post-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>