---
layout: page
title: {{ page.title }}
permalink: {{ page.permalink }}
categoryName: {{ page.categoryName }}
---


test? {% capture categoryName %}{{ page.url | remove_first: '/categories/' }}{% endcapture %}
CatName: {{ categoryName }}
<p>Redirect from: {{ page.redirect.from }}</p>
<p>new2</p>

<div class="posts">
    {% for post in site.categories[categoryName] %}
        <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            {% if post.categories.size > 0 %}
            <div class="categories">
                <span>Categories:</span> 
                <span class="category-list">
                    {% for category in post.categories %}
                    <a href="{{ site.baseurl }}/categories/{{category}}" class="category">{{ category }}</a>
                        {% if forloop.rindex > 1 %}
                        <span>,</span>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            <div class="date">
                by {{ post.author }} - {{ post.date | date: "%B %e, %Y" }}
            </div>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
    {% endfor %}
</div>
