---
layout: page
---

<div id="categories">
    <!-- {{ site.categories }} -->
    {% for category in site.categories %}
    <div class="category-group">
        <!-- 'category' has lots of data, so just get first item -->
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugify }}"></div>
        
        <p></p>
        <h3 class="category-head">
            <a name="{{ site.baseurl }}/categories/{{ category_name }}">{{ category_name | upcase }}</a>
        </h3>

        <a name="{{ category_name | slugify }}"></a>

        {% for post in site.categories[category_name] %}
        <article class="post-item">
            <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h4>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>